<header>
    <div class="header-container">
        <a href="/" class="logo">CSE MOTORS</a>

          <% if (user && user.loggedIn) { %>
            <a href="/account" class="account-link">Welcome <%= user.username %></a>
            <a href="/account/logout" class="account-link">Logout</a>
          <% } else { %>
            <a href="/account/login" class="account-link">Login</a>
          <% } %>
    </div>
</header>
