.flash-message, #messages {
    background-color: #f8d7da;
    color: var(--mainColor);
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.inventory-management {
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.inventory-management h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.inventory-management ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inventory-management li {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.inventory-management a, 
.inventory-management form {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: var(--secondColor);
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
}
.inventory-management button {
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: none;
    border: none;
}

.inventory-management a:hover {
    background-color: #004186;
}

/* Inventory Table*/
.manage-inv {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.manage-inv select {
    padding: 10px ;
    background-color: var(--secondColor);
    color: #fff;
    cursor: pointer;
    border: none;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.styled-table thead tr {
    background-color: var(--secondColor);
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .styled-table, .styled-table thead, .styled-table tbody, .styled-table th, .styled-table td, .styled-table tr {
        display: block;
    }

    .styled-table thead tr {
        display: none;
    }

    .styled-table td {
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    .styled-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        font-weight: bold;
        white-space: nowrap;
    }
}

/* JavaScript warning */
.no-js-warning {
    color: red;
    font-weight: bold;
    margin-top: 15px;
}
