/*Main*/
h1 {
  margin: 30px 0;
}

.hero {
  background: url('/images/vehicles/delorean.jpg') no-repeat center center/contain;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}

.hero-content {
  background: rgba(233, 233, 233, 0.856);
  padding: 20px;
  border-radius: 10px;
  color: var(--mainColor);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background: var(--mainColor);
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 10px;
}

h3 {
  margin: 20px 0;
}

hr {
  width: 3px;
  background-color: var(--mainColor);
}

.upgrade-item {
  background: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.reviews ul {
  padding: 0;
}

.reviews li {
  background: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hero {
    height: 200px;
    padding-left: 20px;
    justify-content: center;
    text-align: center;
  }

  .hero-content {
    padding: 5px;
    position: absolute;
    left: 10px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .upgrades {
    width: 100%;
    order: 2;
  }

  .reviews ul {
    padding: 0 10px;
  }

  hr {
    display: none;
  }
}