<link rel="stylesheet" href="/css/add-classification.css">

<%- messages() %>

<% if (message) { %>
  <div class="flash-message"><%= message %></div>
<% } %>

<h1><%= title %></h1>

<form action="/inv/add-classification" method="POST" class="create-form">
  <label for="classification_name">Classification Name:</label>
  <input type="text" id="classification_name" name="classification_name" required value="<%= classification_name %>" />
  <button type="submit">Add Classification</button>
</form>

<script src="/js/add-classification"></script>